@model MicrosoftEvangelists.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Find a local Microsoft evangelist";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>@ViewData["Title"]</h3>
            <p>We have a team of evangelists that would nothing more than to come to your event, community meet-up, conference or organisation to talk about how Microsoft technology could be used in your scenario.</p>
            <p>Our evangelists are spread throughout the country and have a diverse set of skills and expertise. Find your local evangelist below, if you cannot find someone who is local to you, feel free to reach out to anyone who has the expertise you are looking for, we are perfectly happy to travel. If all else fails <a href="mailto:ukdxteevang@microsoft.com?Subject=Evangelist%20Needed%20Please">email us</a>.</p>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <form asp-controller="home" asp-action="Index" method="post">
            <div class="col-md-3">
                <label>Country</label>
                <select asp-items="@Model.AvaliableCountries" asp-for="SelectedCountry" class="form-control" onchange="this.form.submit()">
                    <option>ALL</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Region</label>
                <select asp-items="@Model.AvaliableRegions" asp-for="SelectedRegion" class="form-control" onchange="this.form.submit()">
                    <option>ALL</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>City</label>
                <select asp-items="@Model.AvaliableCities" asp-for="SelectedCity" class="form-control" onchange="this.form.submit()">
                    <option>ALL</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Expertise</label>
                <select asp-items="@Model.AvaliableTags" asp-for="SelectedTag" class="form-control" onchange="this.form.submit()">
                    <option>ALL</option>
                </select>
            </div>
        </form>
        <div class="col-md-12">
            <hr />
        </div>
    </div>
</div>

<div class="ui-125">
    <div class="container">
        <div class="row">
            @if (Model.Profiles.Count == 0)
            {
                <div class="col-xs-12">
                    <p>Sorry, we don't have any evangelists that match that criteria. Try a less restrictive search or <a href="mailto:ukdxte@microsoft.com?Subject=Evangelist%20Needed">Email Us</a> and someone will be in touch.</p>
                </div>
            }
            else
            {
                @foreach (var profile in Model.Profiles)
                {
                    <div class="col-md-3 col-sm-6 col-xs-12 col-mob">
                        <a data-toggle="modal" data-target="#@profile.id">
                            <div class="profile-box">
                                <img src="@profile.picture" alt="Picture of @profile.name" class="img-responsive" />
                                <div class="profile-box-header">
                                    <span>@profile.name</span>
                                    <span><br /><small>@profile.slogan</small></span>
                                    <span class="pull-right"><i class="fa fa-lg fa-angle-double-right" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="@profile.id" tabindex="-1" role="dialog" aria-labelledby="@string.Join(profile.id,"Label")">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h2 class="modal-title darkpurple" id="@string.Join(profile.id,"Label")">@profile.name<br /><small class="lightpurple">@profile.slogan</small></h2>
                                </div>
                                <div class="modal-body">
                                    <img src="@profile.picture" alt="Picture of @profile.name" class="img-responsive" />
                                    @profile.bio
                                    <br />
                                    <hr />
                                    I'm into @string.Join(", ", profile.tags)
                                    <hr />
                                    I'm based in @profile.regions.FirstOrDefault(), @profile.country.
                                    @if (profile.cities.Contains("ALL"))
                                    {
                                        <span> But I cover pretty much anywhere.</span>
                                    }
                                    else
                                    {
                                        <span> I cover @string.Join(", ", profile.cities.Take(3))</span>
                                        @if (profile.cities.Count > 3) { 
                                            <span> and other places around @string.Join(", ", profile.regions.Where(r => r != "ALL"))</span>
                                        }
                                        <span>. I'm flexible though, contact me for details.</span>
                                    }                                            
                                </div>
                                <div class="modal-footer">
                                    <div class="pull-left">
                                        @if (!string.IsNullOrEmpty(profile.twitter))
                                        {
                                            <a href="@profile.twitter"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(profile.linkedin))
                                        {
                                            <a href="@profile.linkedin"><i class="fa fa-lg fa-linkedin" aria-hidden="true"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(profile.skype))
                                        {
                                            <a href="@profile.skype"><i class="fa fa-lg fa-skype" aria-hidden="true"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(profile.github))
                                        {
                                            <a href="@profile.github"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(profile.stackoverflow))
                                        {
                                            <a href="@profile.stackoverflow"><i class="fa fa-lg fa-stackoverflow" aria-hidden="true"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(profile.email))
                                        {
                                            <a href="@profile.email"><i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(profile.blog))
                                        {
                                            <a href="@profile.blog"><i class="fa fa-lg fa-rss" aria-hidden="true"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(profile.youtube))
                                        {
                                            <a href="@profile.youtube"><i class="fa fa-lg fa-youtube" aria-hidden="true"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(profile.vimeo))
                                        {
                                            <a href="@profile.vimeo"><i class="fa fa-lg fa-vimeo" aria-hidden="true"></i></a>
                                        }
                                    </div>
                                    <a class="btn btn-primary" href="@profile.website" role="button"><i class="fa fa-angle-double-right" aria-hidden="true"></i> See more on my site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts{
    <script>



    </script>
}
