@model MicrosoftEvangelists.Models.Profile

<div class="col-md-3 col-sm-6 col-xs-12 col-mob">
    <a data-toggle="modal" data-target="#@Model.id">
        @{
            var profileBoxTypeCss = string.Empty;
            var profileBoxHeaderTypeCss = string.Empty;
            if (Model.type == "TE")
            {
                profileBoxTypeCss = "profile-box-lightpurple";
                profileBoxHeaderTypeCss = "profile-box-lightpurple-header";
            }
            else if (Model.type == "MVP")
            {
                profileBoxTypeCss = "profile-box-magenta";
                profileBoxHeaderTypeCss = "profile-box-magenta-header";
            }
        }

        <div class="profile-box @profileBoxTypeCss">
            <img src="@Model.picture" alt="Picture of @Model.name" class="img-responsive" />
            <div class="profile-box-header @profileBoxHeaderTypeCss">
                <span>@Model.name</span>
                <span><br /><small>@Model.slogan</small></span>
                <span class="pull-right"><i class="fa fa-lg fa-angle-double-right" aria-hidden="true"></i></span>
            </div>
        </div>
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="@Model.id" tabindex="-1" role="dialog" aria-labelledby="@string.Join(Model.id,"Label")">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title darkpurple" id="@string.Join(Model.id,"Label")">@Model.name<br /><small class="lightpurple">@Model.slogan</small></h2>
            </div>
            <div class="modal-body">
                <img src="@Model.picture" alt="Picture of @Model.name" class="img-responsive" />
                @Model.bio
                <br />
                <hr />
                I'm into @string.Join(", ", Model.tags)
                <hr />
                I'm based in @Model.regions.FirstOrDefault(), @Model.country.
                @if (Model.cities.Contains("ALL"))
                {
                    <span> But I cover pretty much anywhere.</span>
                }
                else
                {
                    <span> I cover @string.Join(", ", Model.cities.Take(3))</span>
                                    @if (Model.cities.Count > 3)
                                    {
                                        <span> and other places around @string.Join(", ", Model.regions.Where(r => r != "ALL"))</span>
                                    }
                                    <span>. I'm flexible though, contact me for details.</span>
                }
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    @if (!string.IsNullOrEmpty(Model.twitter))
                    {
                        <a href="@Model.twitter"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.linkedin))
                    {
                        <a href="@Model.linkedin"><i class="fa fa-lg fa-linkedin" aria-hidden="true"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.skype))
                    {
                        <a href="@Model.skype"><i class="fa fa-lg fa-skype" aria-hidden="true"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.github))
                    {
                        <a href="@Model.github"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.stackoverflow))
                    {
                        <a href="@Model.stackoverflow"><i class="fa fa-lg fa-stackoverflow" aria-hidden="true"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.email))
                    {
                        <a href="@Model.email"><i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.blog))
                    {
                        <a href="@Model.blog"><i class="fa fa-lg fa-rss" aria-hidden="true"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.youtube))
                    {
                        <a href="@Model.youtube"><i class="fa fa-lg fa-youtube" aria-hidden="true"></i></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.vimeo))
                    {
                        <a href="@Model.vimeo"><i class="fa fa-lg fa-vimeo" aria-hidden="true"></i></a>
                    }
                </div>
                <a class="btn btn-primary" href="@Model.website" role="button"><i class="fa fa-angle-double-right" aria-hidden="true"></i> See more on my site</a>
            </div>
        </div>
    </div>
</div>